.home {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    box-sizing: border-box;
}

.home header {
    padding: 15px 20px; 
}

.home header h1 {
    text-transform: uppercase;
    font-size: 3.4em;
    font-weight: 700;
    line-height: 100%;
}

.creative {
    background-color: #f2f2f2;
    background-image: url(../assets/creative.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    border-radius: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
    display: inline-flex;
    height: 44px;
}
.color {
    color: #75f16b;
}
.studio {
    width: 100px;
    height: 45px;
    display: inline-flex;
    box-sizing: border-box;
    padding-left: 10px;
    padding: 5px;
    border-radius: 30px;
    background-color: #f2f2f2;
    background-image: url(../assets/studio.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-bottom: 10px;
    align-items: center;
    position: relative;
}
.studio button {
    border: none;
    border-radius: 50px;
    padding: 12px;
    display: inline-flex;
    align-items: center;
    background-color: #000;
    color: #75f16b;
}

.header-info {
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    margin: 20px 0 40px 0;
    justify-content: space-between;
}

.header-info .pub {
    width: 68%;
    background-image: url(../assets/pub.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(1);
    border-radius: 20px;
}

.header-info .growth {
    width: 30%;
}

.growth .work {
    background-image: url(../assets/work.webp);
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(1);
    height: 400px;
}

.growth p {
    font-size: 13px;
    margin: 25px 0;
}

.growth button, .projects button {
    padding: 13px 25px;
    background-color: #75f16b;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #000;
    font-weight: 600;
    color: #000;
    border-radius: 25px;
    transition: .4s ease-in-out;
    cursor: pointer;
    &:hover {
    color: #75f16b;
    background-color: #000;
    border: 2px solid #d9d9d9;
    }
}

.creating {
    background-color: #333;
    padding: 25px 20px;
}

.creating h1 {
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
    width: 50%;
}

.creating-options {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100%;
}

.creating-options .image-box {
    background-image: url(../assets/studio.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(1);
    height: inherit;
    width: 350px;
    box-sizing: border-box;
    rotate: 5deg;
    border-radius: 20px;
}

.creating-options ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    font-size: 1.5em;
}

.creating-options ul li {
    align-self: flex-end;
    padding: 5px 10px;
    transition: .3s ease-in-out;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.hot {
    opacity: 0;
    display: inline-flex;
    width: none;
    align-items: center;
    font-size: 1px;
    transition: .4s ease-in-out;
    color: #75f16b;
}

.creating-options ul li:hover {
    color: #75f16b;
}

.creating-options ul li:hover .hot {
    opacity: 1;
    font-size: 24px;
}

.base {
    padding: 15px 20px;
    margin: 20px 0;
    box-sizing: border-box;
}

.base h1 {
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
    float: right;
    text-align: right;
    width: 50%;
}
.base .about-base {
    width: 100%;
    display: inline-flex;
    margin-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-base div {
    width: 45%;
}

.about-base .base-img {
    background-image: url(../assets/base.png);
    background-position: center;
    border-radius: 20px;
    background-size: cover;
    height: 50vh;
    background-repeat: no-repeat;
    filter: grayscale(1);
}

.base-info p {
    font-size: 14px;
    margin-bottom: 30px;
} 

.base-info button {
    border-radius: 25px;
    padding: 13px 25px;
    font-size: 15px;
    border: 2px solid #000;
    background-color: #75f16b;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #000;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.base-info button:hover {
    color: #75f16b;
    background-color: #000;
    border: 2px solid #fff;
}

.experience {
    padding: 35px 20px;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    background-color: #75f16b;
    color: #000;
}

.numbers {
    display: inline-flex;
    width: 60%;
    justify-content: space-between;
}

.numbers h1 {
    font-size: 4em;
    font-weight: 700;
    line-height: 100%;
}

.numbers p {
    font-size: 14px;
}

.text {
    width: 35%;
    font-size: 14px;
    font-weight: 500;
}

.projects {
    padding: 15px 20px;
    box-sizing: border-box;
    width: 100%;
}

.projects h1 {
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
    width: 50%;
    margin: 10px auto;
}

.projects h2 {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 100%;
    font-size: 1.5em;
}

.projects p {
    font-size: 10px;
    color: #a8a8a8;
    margin-bottom: 5px;
}

.projects-box {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 30px;
}

.projects-box .project-card {
    width: 85%;
    margin: 0 auto;
}

.project-img h3, .project-img2 h3, .project-img3 h3, .project-img4 h3 {
    background-color: #75f16b;
    position: absolute;
    border-radius: 50%;
    padding: 45px 10px;
    color: #000;
    font-weight: 600;
    font-size: 13px;
    box-sizing: border-box;
    right: -55px;
    top: 30px;
    text-transform: uppercase;
    opacity: 0;
    transition: .3s ease-in-out;
}

.project-img, .project-img2, .project-img3, .project-img4 {
    background-image: url(../assets/thumb.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    height: 50vh;
    filter: grayscale(1);
    transition: filter .3s ease-in-out;
    cursor: pointer;
    &:hover {
        filter: none;
    }
    &:hover h3{
        opacity: 1;
    }
}
.project-img2 {
    background-image: url(../assets/portfolio.jpg);
}
.project-img3 {
    background-image: url(../assets/saas.webp);
}
.project-img4 {
    background-image: url(../assets/mailchimp.jpeg);
}

.projects button {
    display: block;
    margin: 25px auto;
}

@media (max-width:700px) {
    .header-info {
        flex-direction: column;
        gap: 10px;
    }
    .header-info .pub {
        width: 100%;
        height: 40vh;
    }
    .header-info .growth {
        width: 100%;
        height: auto;
    }
    .creating h1 {
        width: 100%;
    }
    .creating-options {
        flex-direction: column;
        padding: 15px 0;
    }
    .creating-options .image-box {
        rotate: 0deg;
        height: 30vh;
        margin: 10px 0;
        width: 100%;
    }
    .creating-options ul {
        width: 100%;
        margin-top: 15px;
    }
    .creating-options ul li {
        width: 100%;
        box-sizing: border-box;
        align-self: auto;
    }
    .base h1 {
        width: 100%;
        float: none;
        text-align: left;
    }
    .base .about-base {
        gap: 15px;
    }
    .about-base div {
        width: 100%;
    }
    .experience {
        gap: 20px;
    }
    .numbers h1 {
        font-size: 13vw;
    }
    .numbers p {
        font-size: 13px;
    }
    .numbers, .text {
        width: 100%;
    }
    .projects h1 {
        width: 100%;
    }
    .project-img h3, .project-img2 h3, .project-img3 h3, .project-img4 h3 {
        left: 50%;
        right: auto;
        box-sizing: border-box;
        text-align: center;
        transform: translate(-50%, -50%);
        top: 50%;
        padding: 75px 40px;
        border-radius: 50%;
    }
    .projects-box .project-card {
        width: 100%;
    }
}